<!DOCTYPE html>
<html lang="en">
<head>
<title>Generating Object Stamps</title>
<link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css">
</head>
<body>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Pass initial gaussian positions into JS variables. -->
    <script>
        var mu_xs = [{{ ', '.join(initial_mu_xs) }}];
        var mu_ys = [{{ ', '.join(initial_mu_ys) }}];
        var sigma_xs = [{{ ', '.join(initial_sigma_xs) }}];
        var sigma_ys = [{{ ', '.join(initial_sigma_ys) }}];
        var covs = [{{ ', '.join(initial_covs) }}];
        var bg_img_path = "{{ bg_img_path }}";
    </script>

    <div id="title-container">
        <h1>Generating Object Stamps with 2D Gaussian Landmark Guidance</h1>
    </div>

    <div id="container">
        <div id="panels">
            <div id="left-panel">
                <div id="bg-frame">
                    <h3>Draw bounding box</h3>
                    <canvas height="{{bg_img_height}}px" width="{{bg_img_width}}px" id="bg-image"></canvas>
                </div>
                <div id="controls-frame">
                    <div class="controls-row">
                        <button class="control-button" id="gen-landmarks-button">Generate landmarks</button>
                        <button class="control-button" id="gen-mask-and-texture-button">Generate mask and texture</button>
                        <button class="control-button" id="gen-all-button">Generate all</button>
                    </div>
                </div>
            </div>
            <div id="right-panel">
                <div id="ellipsis-frame">
                    <h3>Manipulate gaussians</h3>
                    <div class="loader-container" style="height: {{img_shape}}px; width: {{img_shape}}px">
                        <div class="loader"></div>
                    </div>
                    <canvas height="{{img_shape}}px" width="{{img_shape}}px" id="ellipsis"></canvas>
                </div>
                <div id="gaussians-frame">
                    <h3>Gaussians</h3>
                    <div class="loader-container" style="height: {{img_shape}}px; width: {{img_shape}}px">
                        <div class="loader"></div>
                    </div>
                    <canvas height="{{img_shape}}px" width="{{img_shape}}px" id="gaussians"></canvas>
                </div>
                <br>
                <div id="mask-frame">
                    <h3>Mask</h3>
                    <div class="loader-container" style="height: {{img_shape}}px; width: {{img_shape}}px">
                        <div class="loader"></div>
                    </div>
                    <canvas height="{{img_shape}}px" width="{{img_shape}}px" id="mask"></canvas>
                </div>
                <div id="texture-frame">
                    <h3>Texture</h3>
                    <div class="loader-container" style="height: {{img_shape}}px; width: {{img_shape}}px">
                        <div class="loader"></div>
                    </div>
                    <canvas height="{{img_shape}}px" width="{{img_shape}}px" id="texture"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='scripts/interactive.js') }}"></script>
</body>
</html>
