#title-container {
    margin: 0 auto;
    text-align: center;
    font-family: Helvetica;
    background-color: #dddddd;
    border: 2px solid #020202;
    border-radius: 4px;
    width: 1100px;
    margin-top: 20px;
}

div {
    padding: 10px;
}

#container {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: table;
    font-family: Helvetica;
    border: 2px solid #020202;
    border-radius: 4px;
    background-color: #dddddd;
    padding: 0;
}


/* PANELS */
#panels {
    display: table-row;
    vertical-align: top;
}
#left-panel {
    display: table-cell;
    vertical-align: top;
    padding: 10px 0px 10px 0px;
}
#right-panel {
    display: table-cell;
    vertical-align: top;
    padding: 10px 0px 10px 0px;
}


/* LEFT PANEL */
#bg-frame {
    display: block;
    padding: 0;
}
#controls-frame {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}
.controls-row {
    display: table-row;
    height: 70px;
    vertical-align: center;
}
.control-button {
    height: 40px;
    font-size: 16px;
    background-color: #ededef;
    color: #508e4d;
    border: 2px solid #508e4d;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.1s;
}
.control-button:hover {
    transform: scale(1.03, 1.03);
    background-color: #f4f9fc;
    color: #5da559;
    border: 2px solid #5da559;
    box-shadow: 2px 2px 8px #888888;
    cursor: pointer;
}

/* RIGHT PANEL */
#ellipsis-frame {
    display: inline-block;
    padding-right: 5px;
    padding-top: 0;
}
#gaussians-frame {
    display: inline-block;
    padding-left: 5px;
    padding-top: 0;
}
#mask-frame {
    display: inline-block;
    padding-right: 5px;
}
#texture-frame {
    display: inline-block;
    padding-left: 5px;
}

#right-panel > div {
    position: relative;
}
.loader-container {
    position: absolute;
    display: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 80%;
}
.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #8d918c;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1.0s linear infinite; /* Safari */
    animation: spin 1.0s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* INNER MOST CELLS */
#bg-image {
    display: block;
    margin: auto;
    background-color: black;
    cursor: crosshair;
}
#ellipsis {
    display: inline-block;
    background-color: black;
}
#gaussians {
    display: inline-block;
    background-color: black;
}
#mask {
    display: inline-block;
    background-color: black;
}
#texture {
    display: inline-block;
    background-color: black;
}
